
.box {
    height: auto;
    position: absolute;
    top: 222%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px 40px 40px 40px;
    background: #eaebf1;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    z-index: 100;
}

.boxDK {
    z-index: 100;
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px 40px 40px 40px;
    background: #eaebf1;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

h2 {
    margin: 0 0 80px;
    padding: 0;
    color: black;
    text-align: center;
}

.onebox {
    position: relative;
}

    .inputBox {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: black;
        margin-bottom: 30px;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 1px solid black;
    }

.lbl {
    color: black;
    float: left;
}

.button {
    width: 150px;
    margin-top: -8px;
    padding: 10px 40px;
    border: none;
    background-color: #343c6b;
    color: white;
}

    .button:hover {
        background-color: #00008B;
    }

.lbl1 {
    color: red;
    height: 100%;
    width: 500px;
    margin-top: 50px;
}
